{% extends 'base.html' %}
{% from 'flash_macros.html' import simple_flash %}
{% from 'bootstrap_form_macros.html' import render_form %}
{% block title %}Add books to database{% endblock %}
{% block body %}
{{ simple_flash() }}
<!-- <form method="POST" action={{ url_for('.add_books') }}>
    <div class="form-group">
        \{\{ form_uls(form) }}
        <input type="submit" value="+">
    </div>
</form> -->
<div class="add-book-form">
    {{ render_form(form, action_url=url_for('.add_books'), action_text="+") }}
</div>
<img id="cover_img" src="{{ url_for('.static', filename='img/iranian_cover.jpg') }}" alt='book cover image'>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('.static', filename='js/isbnjs-1.0.0/isbn.js') }}"></script>
<script src="{{ url_for('.static', filename='js/add_books.js') }}"></script>
{% endblock %}
