{% extends 'base.html' %}
{% from 'flash_macros.html' import simple_flash %}
{% block title %}Add books to database{% endblock %}
{% block body %}
{{ simple_flash() }}
<form method="POST" action={{ url_for('.add_books') }}>
    <ul>{{ form.hidden_tag() }}
    {% for field in form %}
        {% if field.widget.input_type != 'hidden' %}
            <li>{{ field.label }}
        {% endif %}
        {{ field }}
        {% if field.errors %}
            <ul class="errors">{% for error in field.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        </li>{% endif %}
    {% endfor %}</ul>
    <input type="submit" value="+">
</form>
<img id="cover_img" src="{{ url_for('.static', filename='img/iranian_cover.jpg') }}" alt='book cover image'>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('.static', filename='js/isbnjs-1.0.0/isbn.js') }}"></script>
<script src="{{ url_for('.static', filename='js/add_books.js') }}"></script>
{% endblock %}
