{% extends 'base.html' %}
{% from 'form_macros.html' import form_uls %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/jquery.datetimepicker.css') }}">
{% endblock %}

{% block title %}Return {{ book.title }}{% endblock %}
{% block body %}
<h1>Return '{{ book.title }}'</h1>
<div>{% if book.thumbnail_url %}<img src="{{ book.thumbnail_url }}">{% endif %}</div>
<div>Last checked out {% with %}{% set checkout = book.open_checkout() %} by {{ checkout.person }} to Room {{ checkout.room }} on {{checkout.checkout_date }}{% endwith %}</div>
<form method="POST" action={{ url_for('.return_book', book_id=book.id) }}>
    {{ form_uls(form) }}
    <input type="submit" value="Return">
</form>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('.static', filename='js/jquerydatetimepicker/jquery.datetimepicker.full.min.js') }}"></script>
<script>
$('input#return_date').datetimepicker();
</script>
{% endblock %}
