{% extends 'base.html' %}
{% from 'flash_macros.html' import simple_flash %}

{% block title %}All the books{% endblock %}
{% block body %}
{{ simple_flash() }}
<span id="book_filter">
    <form method="GET" action={{ url_for('.books') }}>
        <label>
            Availability:
            <select name="is_available">
                <option disabled selected value>---</option>
                <option value="True">Available</option>
                <option value="False">Checked out</option>
            </select>
        </label>
        <label>
            Title contains: <input name="title_contains" type="text" />
        </label>
        <input type="submit" value="Go">
    </form>
</span>
<table>
    <tr>
        <th>Cover Image</th>
        <th>Title</th>
        <th>Inside cover ID</th>
        <th>Description</th>
        <th>ISBN</th>
        <th>Date added</th>
    </tr>
    {% for book in books %}
    <tr>
        <td>{% if book.thumbnail_url %}<img src="{{ book.thumbnail_url }}">{% endif %}</td>
        <td><a href="{{ url_for('.books', id=book.id)}}">{{ book.title }}</a>
            {% if not book.is_available %}
                <p>CHECKED OUT</p>
            {% endif %}
        </td>
        <td>{{ book.inside_cover_id }}</td>
        <td>{% if book.description%}{{ book.teaser() }}...{% endif %}</td>
        <td>{{ book.isbn13 }}</td>
        <td>{{ book.date_added }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
