<html>
<body>
    <table>
        <tr>
            <th>Title</th>
            <th>ISBN</th>
            <th>Inside cover ID</th>
            <th>Date added</th>
        </tr>
        {% for book in books %}
        <tr>
            <td><a href="{{ url_for('single_book', isbn=book.isbn13, inside_cover_id=book.inside_cover_id)}}">Title here</a></td>
            <td>{{ book.isbn13 }}</td>
            <td>{{ book.inside_cover_id }}</td>
            <td>{{ book.date_added }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
