{% extends 'base.html' %}
{% block title %}{{ book.title }}{% endblock %}
{% block body %}
<table class="table table-striped">
    <tr>
        <th>Title:</th>
        <td>{{ book.title }}</td>
    </tr>
    <tr>
        <th>Status:</th>
        <td>
            {% if not book.is_available %}
            <a href="{{ url_for('.return_book', book_id=book.id)}}" class="btn btn-primary">RETURN</a>
            Checked out {{ book.last_checked_out() }}.
            {% else %}
                <a href="{{ url_for('.checkout', book_id=book.id)}}" class="btn btn-primary">AVAILABLE</a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>ISBN13:</th> <td> {{ book.isbn13 }}</td>
    </tr>
    <tr>
        <th>Custom ID:</th>
        <td>{{ book.inside_cover_id }}</td>
    </tr>
    <tr>
        <th>Description:</th>
        <td>{{ book.description }}</td>
    </tr>
    <tr>
        <th>Cover Image:</th>
        <td><img id="thumbnail_img" src="{{book.thumbnail_url}}"></td>
    </tr>
</table>
{% endblock %}
